<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/IN.css">

    <title>ADMINISTRADOR</title>
</head>
<body>
    <div>
        <img src="images/1.jpg" class="m1">
    </div>
    
    <div class="formulario">
    
        <h1>Pagina Administrador</h1>
      <div class="p1">
        <a href="/categorias">Categorias</a>
    </div>

      <div class="p2">
        <a href="/productos">Productos</a>
    </div>  

        <div class="p3">
            <a href="/imagenes">Imagenes</a>
        </div>
    </div>
</body>
</html>