<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Categoria</title>
    <link rel="stylesheet" href="/stylesheets/incre.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
</head>
<body>

    <div class="formulario2">
        <h1>actualizar categoria</h1>

        <form action="/Actualy/<%= categorias.id %>" method="post">
            <div class="i1">
            <input type="text" name="nombre" id="nombre" value="<%= categorias.nombre %>" required maxlength="25" minlength="4">
            <label>Actualizar Categoria</label>
        </div>
        <input type="submit" value="Subir Categoria">
        </form>
    </div>
</body>
</html>