<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Categoria</title>
   <link rel="stylesheet" href="/stylesheets/elimicat.css">
   <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
</head> 
<body>

    <div class="T1">
        <h2>¿Está seguro de eliminar esta categoria?</h2>
        <form action="/elimy/<%= categorias.id %>" method="get">
            <h3><%= categorias.nombre %></h3>
            <input type="submit" value="Eliminar Categoria">
        </form>
    </div>
</body>
</html>