<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/CÑ.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
  <title>Inicia Seccion</title>
</head>
  <body>
    <div class="formulario1">
    <form  name="formulario" action="/login" method="post">
        
          <caption align="top"><h1>Inicio de Sesion</h1></caption>
          <div class="texto">
            
              <td><input  type="text" name="user" id="user" maxlength="20" required></td>
              <td><label>Ingrese su Nombre</label></td>
            </div>

            <div class="texto">
          
              <td><input  type="password" name="password" id="password" minlength="4" maxlength="10" required></td>
              <td><label>Ingrese la Contraseña</label></td>
            </div>
        <input type="submit" value="Iniciar Sesión">
    </form>
  </div>
  </body>
</html>