<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/CÑ.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
  <title>ERROR</title>
</head>
  <body>
    <h1>Error de Contraseña o de Usuario</h1>
    <p>quiere volver a<a href="/contra">intentarlo</a>o quiere Regresar a la<a href="/index">Pagina principal</a></p>


  </body>
</html>