<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Imagenes</title>
    <link rel="stylesheet" href="/stylesheets/increima.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
</head>
<body>
    <div>
        <img src="images/5.jpg" class="m3"> 
    </div>
   
    <div class="formulario2">
        <form action="/ima1" method="post"> 
            <h1>Agregar Imagen</h1>
            <div class="i1">
            <div class="i1">
            <input type="text" name="url" id="url" required maxlength="200" minlength="3">
            <label>Ingrese la url de la imagen</label>
            </div>
            <select name="destacado" id="destacado">
                <option value="">--Destacado--</option>
                <option value="Si">Si</option>
                <option value="No">NO</option>
            </select>
            <select name="producto" id="producto">
                <option value="" >--Seleccione--</option>
                <% if (productos) { %>
                    <% for (let i = 0; i < productos.length; i++){  %>
                        <% if (productos) { %>
                            <option value="<%= productos[i].id %>" id="producto_id" name="producto_id"><%= productos[i].nombre %></option> 
                        <% } %>
                    <% } %>
                <% } else { %>
                            <option value="">No existen productos en el sistema</option>
                    <% }   %>
            </select>
        </div>
            <input type="submit" value="Subir Imagen">
        </form>
    </div>
</body>
</html>