<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Imagen</title>
    <link rel="stylesheet" href="/stylesheets/elimiima.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
</head>
<body> 
    <div class="T1">
        <h3>¿Está seguro de eliminar esta Imagen?</h3>
        <form action="/elimyimg/<%= imagenes.id %>" method="get">
            <img src="<%= imagenes.url %>">
            <input type="submit" value="Eliminar Imagen">
        </form>
    </div>
</body>
</html>