<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/inicio.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
  <title>BIENVENIDO</title>
</head>
  <body>
    <body>
      <header>
        <h1>Productos de cuidado del cabello</h1>
      </header>
      <nav class="nav">
        <ul>
          <li><a href="/contra">Admin</a></li>
        </ul>
      </nav>
      <section class="products">
        <div class="product">
          <img src="/img/" alt="champus 1">
          <h2>c</h2>
          <p>Marca: </p>
          <p></p>
          <p>Precio: $30.00</p>
        </div>
        <div class="product">
          <img src="/img/" alt="Champú 2">
          <h2></h2>
          <p>Marca: </p>
          <p></p>
          <p>Precio: $25.00</p>
        </div>
        <div class="product">
          <img src="/img/" alt="Champú 3">
          <h2></h2>
          <p>Marca: </p>
          <p></p>
          <p>Precio: $30.00</p>
        </div>
  
      </section>
      <section class="products">
        <div class="product">
          <img src="/img/" alt="Champú 1">
          <h2></h2>
          <p>Marca: </p>
          <p></p>
          <p>Precio: $30.00</p>
        </div>
        <div class="product">
          <img src="/img/" alt="Champú 2">
          <h2></h2>
          <p>Marca:</p>
          <p></p>
          <p>Precio: $25.00</p>
        </div>
        <div class="product">
          <img src="/img/" alt="Champú 3">
          <h2></h2>
          <p>Marca: </p>
          <p> </p>
          <p>Precio: $30.00</p>
        </div>
  
      </section>
      <section class="products">
        <div class="product">
          <img src="/img/" alt="Champú 1">
          <h2></h2>
          <p>Marca: </p>
          <p></p>
          <p>Precio: $30.00</p>
        </div>
        <div class="product">
          <img src="/img/" alt="Champú 2">
          <h2></h2>
          <p>Marca: </p>
          <p></p>
          <p>Precio: $25.00</p>
        </div>
        <div class="product">
          <img src="/img/" alt="Champú 3">
          <h2></h2>
          <p>Marca: </p>
          <p></p>
          <p>Precio: $30.00</p>
        </div>
  
      </section>
      <section class="products">
        <div class="product">
          <img src="/img/" alt="Champú 1">
          <h2></h2>
          <p>Marca:</p>
          <p></p>
          <p>Precio: $30.00</p>
        </div>
        <div class="product">
          <img src="/img/" alt="Champú 2">
          <h2></h2>
          <p>Marca:</p>
          <p></p>
          <p>Precio: $25.00</p>
        </div>
        <div class="product">
          <img src="/img/" alt="Champú 3">
          <h2></h2>
          <p>Marca:</p>
          <p></p>
          <p>Precio: $30.00</p>
        </div>
  
      </section>
  
    </body>
  
  </body>
</html>