<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/inicio.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/images.ico">
  <title>BIENVENIDO</title>
</head>
  <body>
      <li><a href="#"></a></li>
    </li><a target="_blank" href="/contra" class="form_contact" id='botonProductos'>Admin</a></li>

    <li><a href='/clientes' id='botonProductos'>productos</a></li>
  </ul>
</nav>

  
  </body>
</html>