body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(120deg, #f6b065 0%, #dd85fd 100%);
    font-family: 'Courgette', cursive;
  }
  
  header {
  
    text-align: center;
    padding: 20px 0;
    font-family: 'Courgette', cursive;
  }
  
  nav {
    color: rgb(32, 29, 29);
    text-align: center;
    font-family: 'Courgette', cursive;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    
  }
  

  
  .product img {
    width: 200px;
    border-radius: 50px;
  }
  
  footer {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
  }